
@media (max-width:1024px){
    .card_lists {gap: 1rem !important;}
    .addition_response{flex-direction: column;align-items: flex-start;}
    .shopping_cart_component .shopping_cart_section .productInCart_box .product_img img {width: 100%;height: auto;}
}

@media screen and (min-width:800px) and (max-width:992px){
    .vertical-mdl-tabs {padding: 0 36px 36px 36px;}
    .welcome_section {padding: 48px 36px;}
}

@media screen and (min-width:800px){
	.custom-model-main:before {content: "";display: inline-block;height: auto;vertical-align: middle;margin-right: -0px;height: 100%;}
    .newAddress-custom-model-main:before {content: "";display: inline-block;height: auto;vertical-align: middle;margin-right: -0px;height: 100%;}
    .newPayment-custom-model-main:before {content: "";display: inline-block;height: auto;vertical-align: middle;margin-right: -0px;height: 100%;}
    .cardDelete-custom-model-main:before {content: "";display: inline-block;height: auto;vertical-align: middle;margin-right: -0px;height: 100%;}
    .closeAccount-custom-model-main:before {content: "";display: inline-block;height: auto;vertical-align: middle;margin-right: -0px;height: 100%;}
    .news-custom-model-main:before {content: "";display: inline-block;height: auto;vertical-align: middle;margin-right: -0px;height: 100%;}
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
  .newAddress-custom-model-inner{margin-top: 45px;}
  .newPayment-custom-model-inner{margin-top: 45px;}
  .cardDelete-custom-model-inner{margin-top: 45px;}
  .closeAccount-custom-model-inner{margin-top: 45px;}
  .news-custom-model-inner{margin-top: 45px;}
  .welcome_section {padding: 48px 24px 0 24px;flex-direction: column;align-items: center;row-gap: 24px;}
  .vertical-mdl-tabs {padding: 0 24px 24px 24px;}
  .account_tabs {flex-direction: row !important;width: 100%;justify-content: center;gap: 48px !important;}
  .mdl-grid--no-spacing>.mdl-cell--4-col, .mdl-grid--no-spacing>.mdl-cell--4-col-phone.mdl-cell--4-col-phone {width: 100%;}
  .vertical-mdl-tabs .mdl-tabs__tab {width: auto;padding: 16px 0px 16px 0px;font-size: 14px;}
}

@media (max-width:600px){
    .menu_response{display: none;}
    .prodct_data{flex-direction: column;}
    .custom_width {width: calc(80% - 10px);}
    .addition_response{flex-direction: column;align-items: flex-start;}
    .shopping_cart_component {padding: 24px 20px;flex-direction: column;row-gap: 48px;}
    .pe-5 {padding-right: 0rem !important;}
    .order_summery_component{width:100%}
    .card_lists{gap: 1rem !important;}
    .shipping_form_data{flex-direction: column;row-gap:1rem}
    .shipping_form_data .form-group {width: 100%;}
    .add_card_box {width: 180px;padding: 12px;height: 74px;}
    .saved_card_box {width: 180px;padding: 12px;}
    .thankyou_title {width: 100%;}
    .thankyou_title h2 {font-size: 36px;line-height: 48px;}
    .shopping_cart_component .shopping_cart_section .productInCart_box .product_img img {width: auto;height: 100%;}
    .welcome_section {padding: 48px 24px 0 24px;flex-direction: column;align-items: center;row-gap: 24px;}
    .vertical-mdl-tabs {padding: 0 24px 24px 24px;}
    .address_box {flex-direction: column;}
    .vertical-mdl-tabs .mdl-tabs__tab-bar {align-items: center;}
    .desktop_news_banner{display: none;}
    .mobile_news_banner{display: block;}
    .announce_title h1 {font-weight: 600;font-size: 32px;line-height: 120%;}
    .news-pop-up-content-wrap p {line-height: 140%;}
    .announce_box{flex-direction: column;align-items: flex-start !important;text-align: left;}
    .announce_desc {gap: 4px;}
    .upload_title h4 {font-weight: 600;font-style: SemiBold;font-size: 24px;}
    .upload_title p {font-weight: 500;font-style: Medium;font-size: 16px;}
    .tutorial-pop-up-content-wrap p{text-align: left;}
    /* .tutorial_desc{display: none;} */
    .tutorial_img{display: none;}
    .tutorial_mobile_img{display: flex;}
    .tutorial_mobile_img img{width: 100%;}
    .tutorial_desc{flex-direction: column;display: flex;}
    .tutorial_desc {width: 100%;}
    .tutorial_desc .stub_box:first-child {height: auto;margin-top: 0px;}
    .tutorial_desc .stub_box:last-child {height: auto;}
    .stub_box {border-left: 1px solid #2D36461A;padding-left: 16px;border-top: none;margin-left: 36px;}
    .claim_reward_box, .shop_rebaid_box, .trustpilot_rate_box{width: calc(100% - 0px);}
    .feature_banner_section{flex-direction: column;width: 100%;gap: 20px;}
    .shop_rebaid_box {padding: 0px;border-top: 1px solid #FFFFFF4D;border-bottom: 1px solid #FFFFFF4D;row-gap: 4px;display: flex;flex-direction: column;
    border-left: none;border-right: none;padding: 20px 0;}
    .claim_reward_box{padding: 0px;row-gap: 4px;display: flex;flex-direction: column;}
    .trustpilot_rate_box{padding: 0px;row-gap: 4px;display: flex;flex-direction: row;align-items: center;}
    .feature_banner_section p {text-align: center;}
    .reward_div .quote_img{display: none;}
    .claim_rewards_reponse {width: 100%;text-align: center;display: flex;align-items: center;justify-content: center;}
}